---
title: Migrating Data to an Amazon RDS for PostgreSQL (Beta) Instance
owner: Cloud Service Broker for AWS
---

<strong><%= modified_date %></strong>

This topic describes migrating data from Amazon Relational Database Service (Amazon RDS) for
PostgreSQL Instance of the VMware Tanzu Service Broker for AWS tile
to the <%= vars.product_full %> tile.


## <a id='about'></a> About Migrating Data to Amazon RDS for PostgreSQL Instance

Because the VMware Tanzu Service Broker for AWS (hereafter: "the legacy broker") tile
is going out of support, it is important to move data from PostgreSQL instances that
were created by the legacy broker over to the <%= vars.product_short %>.

The <a href="https://aws.amazon.com/dms/>AWS Data Migration Service ("DMS")</a> can be used to migrate data between 
Amazon RDS for PostgreSQL Instances. The tool copies data from one database to another.
Because the original database is not modified, it allows a migration to be easily reversed
if any problems are detected. It also allows migration to happen over time.

The DMS is a tool provided as part of AWS. Refer to the <a href="https://aws.amazon.com/dms">DMS documentation</a>
for more information.


## <a id='process'></a> Overview of the Process

Detailed steps for subsuming are given below.
However, the outline of the process is:

+ Create an Amazon RDS for PostgreSQL Instance using the <%= vars.product_short %>.
+ Use the DMS to replicate data from a legacy broker PostgreSQL instance into the newly created instance.
+ Unbind apps from the legacy broker PostgreSQL instance and bind them to the newly created instance.
+ Once migration is complete, DMS replication may be stopped and the legacy broker PostgreSQL instance
  may optionally be deleted.


## <a id='migrate'></a> Migrate Data to a VMware Tanzu Service Broker for AWS PostgreSQL Instance

To migrate data from an existing legacy PostgreSQL instance to the <%= vars.product_short %>:

1. Get credentials for the legacy PostgreSQL instance details by running:

    ```
    cf env APP-USING-LEGACY-SERVICE-INSTANCE
    ```

    Where is `APP-USING-LEGACY-SERVICE-INSTANCE` is the name of an app that is bound to a
    service instance from the legacy broker. Inspect the <code>VCAP_SERVICES</code> JSON
    output to see the hostname, database, username, password, and port which are required
    to configure DMS.

2. Create a new PostgreSQL service instance using <%= vars.product_short %>.

3. Create a service key in the new PostgreSQL service by running:

    ```
    cf create-service-key SERVICE-INSTANCE-NAME SERVICE-KEY-NAME
    ```

    Where `SERVICE-INSTANCE-NAME` is the name of the new PostgreSQL service instance and
    `SERVICE-KEY-NAME` is a name that you choose for the service key.

4. Get credentials from the service key by running:

    ```
    cf service-key SERVICE-INSTANCE-NAME SERVICE-KEY-NAME
    ```

    Inspect the JSON output for the hostname, name, username, password, and port which are required
    to configure DMS.

5. Configure and run DMS according to the DMS documentation and your requirements.

    Note that DMS may create schemas and tables without granting access for other users to work with that data.
    This can be resolved by connecting to the database using the credentials used for DMS, and granting access to the schemas and tables.
    Alternatively, if the DMS Change Data Capture (CDC) mode is not being used, the service key used for DMS may be deleted.
    This will have the effect of re-assigning data ownership to the <code>binding_user_group</code> role, automatically
    giving access to other users.

6. Disconnect the app from the legacy service binding by running:

    ```
    cf unbind-service APP-NAME LEGACY-SERVICE-INSTANCE
    ```

    Where:

    * `APP-NAME` is the app using the PostgreSQL instance.
    * `LEGACY-SERVICE-INSTANCE` is the name of the VMware Tanzu Service Broker for AWS-brokered PostgreSQL instance.

    For example:

    <pre class="terminal">
    $ cf unbind-service my-app my-old-instance
    </pre>

7. Bind the app to the new service instance by running:

    ```
    cf bind-service APP-NAME NEW-SERVICE-INSTANCE
    ```

    Where `NEW-SERVICE-INSTANCE` is the name of the <%= vars.product_short %> service instance
    that you created in step 2 above.

    For example:

    <pre class="terminal">
    $ cf bind-service my-app my-csb-aws-instance
    </pre>

    Because <%= vars.product_short %> creates new credentials at bind time,
    this creates new binding credentials for the app.

8. Restage the app:

    ```
    cf restage APP-NAME
    ```

9. Once you are statisfied that they migration has been sucessful, DMS may be stopped and the legacy service instance may be removed.
