---
title: Upgrading Cloud Service Broker for AWS
owner: Cloud Service Broker
---

This topic describes how to upgrade <%= vars.product_full %>.

## <a id="upgrade-to-1-2-0"></a> Upgrading from v1.1.2 to v1.2.0

S3 Bucket is no longer beta and can be used in production.
Since this version, plans are no longer povided with the brokerpak.
If you have S3 Bucket instances already created that you wish to maintain,
previously provided plans will need to be added through the tile.
Refer to [Adding previously provided canned plans](reference/aws-s3.html#old-plans) for more information.

If you instead want to delete all previously created S3 Bucket service instances, you must delete them before upgrading <%= vars.product_short %>
to  v1.2.0.

To remove the instances from the broker, run:

```console
cf delete-service SERVICE-NAME
```

You can also retain instances in the IaaS, but remove them from Cloud Foundry.

To remove the instances from Cloud Foundry, run:

```console
cf purge-service-instance
```

## <a id="procedure"></a> Upgrade procedure

To upgrade the <%= vars.product_short %> to a later version:

1. Download the new version of <%= vars.product_short %> from [<%= vars.product_network %>](https://network.pivotal.io/products/cloud-service-broker-aws/).

1. Follow the procedure in [Installing with AWS](installing-with-aws.html).
