---
title: Upgrading Cloud Service Broker for AWS
owner: Cloud Service Broker
---

This topic describes how to upgrade <%= vars.product_full %>.
The following sections have information about the [upgrade procedure](#procedure), [upgrading service instances](#upgrading-instances-instructions) and [specific details about upgrading to v1.6](#upgrading-specifics).


## <a id="procedure"></a> Upgrade procedure

<p class="note">
  <strong>Note:</strong>When upgrading the <%= vars.product_short %>, service instances might need upgrading.
   Failure upgrading one or more instances will not result in failure to install the tile. Make sure you check the `deploy-all` errand logs in the
   Change Log to verify no errors occured. See below for more information on service instance upgrade procedure and troubleshooting.
</p>.

To upgrade the <%= vars.product_short %>:

1. Before installing the new version, ensure all service instances are up to date. See
   [Upgrading service instances](#upgrading-instances-instructions) for information on how to ensure successful upgrade of all service instances.
2. Download the new version of <%= vars.product_short %> from
   [<%= vars.product_network %>](https://network.pivotal.io/products/cloud-service-broker-aws/).
3. Follow the procedure in [Installing with AWS](installing-with-aws.html.md.erb) to configure the tile.
4. Make all the changes described in [Upgrading to v1.6](#upgrading-specifics).
5. Verify [Upgrade All Service Instances Config](installing-with-aws.html.md.erb#upgrade-all-config) is correct
6. Verify configuration complies with [Upgrading service instances](#upgrading-instances-instructions). Specially regarding plans and beta offerings. 
7. Apply changes
8. Check `deploy-all` errand logs for any errors when upgrading the instances.


## <a id="upgrading-instances-instructions"> Upgrading service instances

Service instance upgrades have to be performed alongside the corresponding tile upgrade. Service instances that haven't been upgraded 
with one version might not be upgradeable with upcoming versions. For that reason, it is recommended you check there are no instances
pending upgrade before upgrading the tile. 
You can check instances pending upgrade by checking the last `deploy-all` errand log for the  <%= vars.product_short %>.
Alternatively running the CLI plugin with a --dry-run will output the list of instances pending upgrade. 
If you find instances pending upgrade with any method mentioned above, you can reapply the upgrade before trying to upgrade the tile itself. 
For this, simply apply changes (ensure you haven't staged the new version yet) or run the [CLI Plugin](#upgrading-cli-plugin) from the command line.

A few notes before commencing instance upgrades:

If **Upgrade all services** is unchecked, service instances are not upgraded during installation, and
the broker might be unable to manage these service instances anymore.
In this case, any operations on those instances (update/bind/unbind/delete) are blocked until the
service instance upgrade is performed. You can run this upgrade task at any time, before upgrading the product to a newer version.

If you delete custom plans before upgrading all instances, instaces from those plans won't be upgraded and therefore will become
unmanageable for the broker.
Delete plans at a later step or see [Release Notes for Cloud Service Broker for AWS](release-notes.html)
and [Upgrading to v1.6](#upgrading-specifics) to prevent conflicting upgrades.

If **Enable Beta offerings** is unchecked when applying changes, instances from those service offerings will also not be upgraded and therefore will
become unmanageable by the broker. Ensure the **Enable Beta offerings** offering is checked if you have instances from those
offerings you intend to keep updated. 

Only apply an upgrade once confident all service instances are up to date.
The Upgrade all instances task can be perform as many times as needed. Failure to upgrade one or more instances won't result in 
a failure in the tile installation. Review the `deploy all` errand logs to ensure all instances have been upgraded successfully.

If preferred, the task can be run through the CF CLI instead of or in addition to running it through the tile.

### <a id="upgrading-instances-task"> Upgrading instances through the tile

1. Configure the **Upgrade All Servie Instances** task, see [Upgrade All Service Instances Config](installing-with-aws.html.md.erb#upgrade-all-config) for more information
2. Apply Changes
3. Check `deploy-all` logs for failures


### <a id="upgrading-cli-plugin"> Upgrading instances through CLI Plugin

First install the new version of the tile. If you don't want to run the upgrade during tile installation, follow instructions in [Upgrade All Service Instances Config](installing-with-aws.html.md.erb#upgrade-all-config) 
to disable the upgrade task.

To run the CF CLI plugin:

Once the new version has been successfully installed:

1. Install the [CF CLI UpgradeAllServices plugin](https://plugins.cloudfoundry.org/#UpgradeAllServices)
2. Follow the [instructions](https://github.com/cloudfoundry/upgrade-all-services-cli-plugin#usage) to run the upgrade

It is recommended that you perform a -dry-run before applying the upgrade to understand what instances are pending upgrade.


## <a id="upgrading-specifics"></a> Upgrading to v1.6