---
title: Upgrading Cloud Service Broker for AWS
owner: Cloud Service Broker
---

This topic describes how to upgrade <%= vars.product_full %>.
The following sections have information about the [Upgrade procedure](#procedure), [Upgrading service instances](#upgrade-instances), and specific details about [Upgrading to v1.5](#upgrading-specifics).

## <a id="procedure"></a> Upgrade procedure

<p class="note important">
   <strong>Important:</strong> When upgrading the <%= vars.product_short %>, service instances might to be upgraded.
   Failure to upgrade one or more instance does not cause the tile installation to fail.
   Ensure that you review the <code>deploy-all</code> errand logs in the change log to verify that
   no errors occurred. For more information about the service instance upgrade procedure and troubleshooting,
   see [Upgrading service instances](#upgrade-instances).
</p>.

To upgrade the <%= vars.product_short %>:

1. Before you install the new version, ensure that all service instances are up to date.
   For how to upgrade all service instances, see [Upgrade service instances](#upgrade-instances).
2. Download the new version of <%= vars.product_short %> from
   [<%= vars.product_network %>](https://network.pivotal.io/products/cloud-service-broker-aws/).
3. Follow the procedure in [Installing with AWS](installing-with-aws.html.md.erb) to configure the tile.
4. Make all the changes described in [Upgrading to v1.5](#upgrading-specifics).
5. Verify that the Upgrade All Service Instances configuration is correct. See [Upgrade All Service Instances configuration](installing-with-aws.html.md.erb#upgrade-all-config).
6. Verify that the configuration complies with [Upgrading service instances](#upgrade-instances). Especially regarding plans and beta offerings.
7. Go to the Ops Manager Installation Dashboard.
8. Click **Review Pending Changes**, then **Apply Changes**.
9. Review the `deploy-all` errand logs for any errors when upgrading the instances.

## <a id="upgrade-instances"></a> Upgrade service instances

Service instance upgrades must be performed alongside the corresponding tile upgrade.
Service instances that haven't been upgraded with one version might not be upgradable with
upcoming versions.
For this reason, VMware recommends that you verify that there are no instances pending upgrade before
upgrading the tile.

You can see if there are instances with a pending upgrade by reviewing the last `deploy-all` errand
log for <%= vars.product_short %>.
Alternatively running the [CLI Plug-in](#upgrading-cli-plugin) with the `--dry-run` flag outputs the list
of instances pending upgrade.

If you find instances pending upgrade, reapply the upgrade before upgrading the tile itself.
To reapply the upgrade, ensure that you haven't staged the new version yet then apply changes,
or run the CLI Plug-in from the command line.

Before you start upgrading service instances, see the following notes:

- **Enabling the Upgrade all services check box:**
  If the **Upgrade all services** check box is not selected, service instances are not upgraded
  during installation. These instances become unmanageable by the broker.
  Any operations on that instance, such as update, bind, unbind, or delete, are blocked
  until you run the upgrade task.
  You can run the upgrade task at any time before upgrading the product to a later version.

- **Enabling the Enable Beta offerings check box:**
  If the **Enable Beta offerings** check box is not selected when applying changes, instances from
  those service offerings are not upgraded. These instances become unmanageable by the broker.
  Ensure that the **Enable Beta offerings** check box is selected if you have instances from those
  offerings you intend to keep updated.

- **Deleting custom plans:** If you delete custom plans before upgrading all instances,
  instances from these plans are not upgraded. These instances become unmanageable by the broker.
  Delete plans after upgrading all instances, or see
  [Release Notes for Cloud Service Broker for AWS](release-notes.html)
  and [Upgrading to v1.5](#upgrading-specifics) to prevent conflicting upgrades.

- **Only upgrade the tile when you are confident all service instances are up to date:**
  You can run the upgrade all instances task as many times as needed.
  If preferred, you can run the upgrade all instances task using the cf CLI instead of,
  or in addition to, running it through the tile.
  Failure to upgrade one or more instance does not cause the tile installation to fail.
  Review the `deploy all` errand logs to ensure that all instances have upgraded.

### <a id="upgrading-instances-task"></a> Upgrade instances through the tile

To upgrade service instances through the tile:

1. Configure the **Upgrade All Service Instances** task. For more information, see
   [Upgrade All Service Instances Config](installing-with-aws.html.md.erb#upgrade-all-config).
1. Apply Changes.
1. Review the `deploy-all` logs for failures.

### <a id="upgrading-cli-plugin"></a> Upgrade instances through CLI Plug-in

<!-- I thought you are required to upgrade instances before installing the new version of the tile -->
First install the new version of the tile. If you don't want to run the upgrade during tile installation, follow instructions in [Upgrade All Service Instances Config](installing-with-aws.html.md.erb#upgrade-all-config)
to deactivate the upgrade task.

To run the cf CLI plug-in:

1. Install the new version of the tile.
1. Install the [cf CLI UpgradeAllServices plugin](https://plugins.cloudfoundry.org/#UpgradeAllServices)
1. To run the upgrade, follow the instructions in the _Usage_ section of the README in the
   [upgrade-all-services-cli-plugin](https://github.com/cloudfoundry/upgrade-all-services-cli-plugin#usage) GitHub repository.

<!-- is it -dry-run or --dry-run. The line below has the former, line 44 in this page has the latter. -->
VMware recommends that you run the CLI plug-in with the `-dry-run` flag before applying the upgrade
to find out which instances are pending upgrade.


## <a id="upgrading-specifics"></a> Upgrading to 1.5

### <a id="aws-redis"></a> Amazon ElasticCache for Redis

The following sections describe changes for Amazon ElastiCache for Redis.

### <a id="aws-redis-old-plans"></a> Restoring brokerpak-provided plans

From this version onwards, Amazon ElasticCache for Redis plans are no longer provided with the brokerpak.
If you have instances that you want to maintain, you must add previously provided plans through the
tile. For more information, see
[Add previously provided pre-configured plans](reference/aws-redis.html.md.erb#old-plans).

### <a id="aws-redis-chng-cust-plns"></a> Changing custom plans

Make the following changes to existing custom plans before upgrading.

#### <a id="chng-cust-plns-redis-ver"></a> Set `redis_version` for the service

If you have custom plans already configured for Redis, you have to review the configuration.
The property `redis_version` was moved from the parameters plan to the required user input parameters,
and you have to maintain the property with the previous value established in your custom plans.

To ensure that no unintended changes happen to your existing instances, maintain the `redis_version`
property using the same value previously defined.
For example, if you created an instance using v6.0 of Redis, your plan must look like this:

```json
    {
        "name": "my-custom-plan",
        "id": "5d1763cb-2a39-48c6-955d-ff519cf16d6c",
        "description": "My custom plan Redis 6.0 with cache.t3.medium and 1 node.",
        "cache_size": 2,
        "redis_version": "6.0",
        "node_count": 1,
        "at_rest_encryption_enabled": false,
        "metadata": {
            "displayName": "My Custom Plan",
            "bullets": ["Redis 6.0", "cache.t3.medium", "1 node"]
        }
    }
```

#### <a id="chng-cust-plns-cache-size"></a> Consider replacing `cache_size` with `node_type`

The property `cache_size` is now deprecated.
Consider replacing it with its equivalent `node_type`. For more information, see
[Configuration Parameters](reference/aws-redis.html.md.erb#cache-size-node-type).

Specifying `node_type` in a plan prevents any existing or future service from passing `node_type` as
a service-specific configuration parameter.
This has strong implications for existing plans because existing services might become unmanageable
if they specified a custom `node_type` when they were created.

When in doubt, keep using `cache_size` for existing plans and start using `node_type` for any new
plans.

For more information about node types and pricing, see the
[AWS documentation](https://aws.amazon.com/elasticache/pricing/) and
[Choosing your node size](https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/nodes-select-size.html).

#### <a id="chng-cust-plns-rest-encry"></a> Set `at_rest_encryption_enabled` to `false`

The recently added `at_rest_encryption_enabled` property is `true` by default.

Because previously created instances cannot be modified to use encryption at rest, set the property
`at_rest_encryption_enabled` to `false` in existing plans to match service instances that have already
been created.

#### <a id="multi-az-enab-to-false"></a> Set `multi_az_enabled` to `false`

The recently added `multi_az_enabled` property is `true` by default.

Because previously created instances cannot be modified to use Multi-AZ, set the property
`multi_az_enabled` to `false` in existing custom plans to match service instances that have already
been created.

