---
title: Upgrading Cloud Service Broker for AWS
owner: Cloud Service Broker
---

This topic tells you how to upgrade <%= vars.product_full %>.
The following sections have information about upgrading to v1.4.0.

## <a id="aurora-postgres"></a> Amazon Aurora PostgreSQL-Compatible Edition

The following sections describe changes for Amazon Aurora PostgreSQL-Compatible Edition.

### <a id="aurora-postgres-ssl"></a> Unsecured connections from the broker are no longer supported

<%= vars.product_short %> connections to Aurora PostgreSQL instances must use TLS encryption.
For bind and unbind to work, the AWS certificate bundle must be installed in <%= vars.ops_manager %>.

## <a id="procedure"></a> Upgrade procedure

To upgrade the <%= vars.product_short %> to a later version:

1. Download the new version of <%= vars.product_short %> from [<%= vars.product_network %>](https://network.tanzu.vmware.com/products/cloud-service-broker-aws/).
1. Follow the procedure in [Installing with AWS](installing-with-aws.html.md.erb) to configure the tile.
1. If you are upgrading to a version later than v1.0, service instances might need to be upgraded.
Before installing the new version, see
[Upgrade All Service Instances Config](installing-with-aws.html#upgrade-all-config).
