---
title: Amazon S3 Bucket (Beta)
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

> **Warning:** The Amazon S3 Bucket service is currently in beta and is intended for evaluation and
  test purposes only. Do not use this service in a production environment.

This topic provides reference information about the Amazon S3 Bucket service (csb-aws-s3-bucket).
It details the plans, configuration parameters, and binding credentials.

## <a id="plans"></a> Plans

The table below lists the plans for the `csb-aws-s3-bucket` service:

| Plan       | Description |
|------------|------|
| private       | Private S3 bucket|
| public-read      | Publicly readable S3 bucket|

## <a id="plans-config"></a> Plan Configuration Parameters

When configuring <%= vars.product_short %> you can add additional plans.
For how to configure plans, see
[Configure Services with Cloud Service Broker for AWS](../installing-with-aws.html#services).


The following table lists parameters which can only be configured for additional plans:

| Parameter Name       | Values                         | Default   |
|----------------------|--------------------------------|-----------|
| `name`*              | The plan name                  | _n/a_     |
| `id`*                | A unique GUID                  | _n/a_     |
| `description`*       | Description of the new plan    | _n/a_     |
| `display_name`       | Name to use when displaying plan in marketplace    | _n/a_     |
| `free`               | When false, service instances of this service plan have a cost    | true     |
| `bindable`           | Specifies whether service instances of the service plan can bind to applications    | true     |
| `plan_updateable`    | Whether the plan supports upgrading, downgrading, or sidegrading to another version    | true     |
| `acl`                | S3 bucket ACL. For more information, see the <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/acl-overview.html#canned-acl">AWS documentation</a>.    | _n/a_     |

<sup>*</sup> Required

You can also add any of the parameters listed in the [Configuration Parameters](#parameters) section to your plan.

<p class="note">
  <strong>Note:</strong> If you set a parameter at plan level, developers cannot
  change the value when creating or updating service instances.
</p>

## <a id="parameters"></a> Configuration Parameters

You can provision a service by running:

```
cf create-service csb-aws-s3-bucket PLAN-NAME SERVICE-INSTANCE-NAME -c '{"PARAMETER-NAME": "PARAMETER-VALUE"}
```

You can update the configuration parameters for a service instance by running:

```
cf update-service SERVICE-INSTANCE -c '{"PARAMETER-NAME": "PARAMETER-VALUE"}'
```

The following table lists the parameters that you can configure, by using the `-c` flag, when
provisioning or updating a `csb-aws-s3-bucket` service.
The Operation column displays whether a parameter is supported for both provision and update, or for
provision only:

<table class="nice">
  <thead>
    <tr>
      <th width="20%">Parameter Name</th>
      <th width="10%">Type</th>
      <th width="40%">Description</th>
      <th width="20%">Default</th>
      <th width="10%">Operation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>bucket_name</code></td>
      <td>String</td>
      <td>The name of the bucket to create</td>
      <td><code>csb-INSTANCE-ID</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>enable_versioning</code></td>
      <td>Boolean</td>
      <td>Enable bucket versioning</td>
      <td><code>false</code></td>
      <td>provision</td>
    </tr>
    <tr>
      <td><code>region</code></td>
      <td>String</td>
      <td>
        This is the AWS region to deploy the service in.
        For more information about available regions, see the
        <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html#concepts-available-regions">AWS documentation</a>.</td>
      <td><code>us-west-2</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>ol_enabled</code></td>
      <td>Boolean</td>
      <td>
        Whether or not to store objects using a write-once-read-many (WORM) model using Amazon S3 Object Lock.
        For more information, see the
        <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-lock.html">AWS documentation</a>.
      </td>
      <td><code>false</code></td>
      <td>provision</td>
    </tr>
    <tr>
      <td><code>ol_configuration_default_retention_mode</code></td>
      <td>String</td>
      <td>
        The default retention mode for objects placed in the bucket.
        The property `ol_configuration_default_retention_days` or `ol_configuration_default_retention_years` is required if this property is set.
        To enable Object Lock for a new bucket, see the `ol_enabled`.
        For more information, see the
        <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-lock.html">AWS documentation</a>.
      </td>
      <td><code>null</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>ol_configuration_default_retention_days</code></td>
      <td>Number</td>
      <td>
        The default fixed amount of days of retention for objects placed in the bucket.
        Optional property but required if `ol_configuration_default_retention_years` is not specified.
        `ol_configuration_default_retention_mode` is required if this property is set.
        To enable Object Lock for a new bucket, see `ol_enabled`.
        For more information, see the
        <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-lock.html">AWS documentation</a>.
      </td>
      <td><code>null</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>ol_configuration_default_retention_years</code></td>
      <td>Number</td>
      <td>
        The default fixed amount of years of retention for objects placed in the bucket.
        Optional property but required if `ol_configuration_default_retention_days` is not specified.
        `ol_configuration_default_retention_mode` is required if this property is set.
        To enable Object Lock for a new bucket, see `ol_enabled`.
        For more information, see the
        <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-lock.html">AWS documentation</a>.
      </td>
      <td><code>null</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>aws_access_key_id</code></td>
      <td>String</td>
      <td>The AWS Access Key to use for an instance.</td>
      <td>The value the operator entered for <strong>AWS Access Key</strong> in <%= vars.ops_manager %></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>aws_secret_access_key</code></td>
      <td>String</td>
      <td>The corresponding secret for the AWS Access Key to use for an instance.</td>
      <td>The value the operator entered for <strong>AWS Secret Access Key</strong> in <%= vars.ops_manager %></td>
      <td>provision and update</td>
    </tr>
  </tbody>
</table>

<p class="note">
  <strong>Note:</strong> When using S3 Object Lock, make sure to take your encryption technique into consideration.
  For example, if you are using server-side encryption with AWS KMS keys, consider how the possible deletion of the key might interact with S3 Object Lock.
</p>

<p class="note">
  <strong>Note:</strong> When creating a bucket with Object Lock enabled, Amazon S3 automatically enables versioning for the bucket.
  To avoid differences between the local state and the AWS state, we must set manually the versioning at the time of bucket creation, otherwise,
  if we later want to modify the object lock infrastructure object, the value sent in the versioning property will not be supported by the IaaS,
  since we will be trying to modify an Object Lock and at the same time eliminate the controlling versioning, which is an indispensable condition for enabling Object Lock,
  in other words, versioning must always be enabled to have the capabilities of Object Lock functionality.
  Hence, if we want to modify the configuration of the Object Lock, we must establish the control version property with true value in its creation.
</p>

## <a id="binding-params"></a> Binding Parameters

You can bind a service by running:

```bash
cf bind-service APP-NAME SERVICE-INSTANCE --binding-name BINDING-NAME -c '{"PARAMETER-NAME": "PARAMETER-VALUE"}'
```

The table below lists the parameters that you can configure, using the `-c` flag, when
binding to a `csb-aws-s3-bucket` service:

<table>
  <thead>
    <tr>
      <th width="20%">Parameter Name</th>
      <th width="10%">Type</th>
      <th width="40%">Description</th>
      <th width="20%">Default</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>aws_access_key_id</code></td>
      <td>String</td>
      <td>The AWS Access Key to use for an instance</td>
      <td>The value the operator entered for <strong>AWS Access Key</strong> in <%= vars.ops_manager %></td>
    </tr>
    <tr>
      <td><code>aws_secret_access_key</code></td>
      <td>String</td>
      <td>The corresponding secret for the AWS Access Key to use for an instance</td>
      <td>The value the operator entered for <strong>AWS Secret Access Key</strong> in <%= vars.ops_manager %></td>
    </tr>
  </tbody>
</table>

## <a id="binding-creds"></a> Binding Credentials

The format for binding credentials for Amazon S3 Bucket is as follows:

```
{
    "arn" : "BUCKET-ARN",
    "bucket_domain_name" : "BUCKET-FQDN",
    "region" : "BUCKET-REGION",
    "bucket_name" : "BUCKET-NAME",
    "access_key_id" : "ACCESS-KEY-FOR-BUCKET",
    "secret_access_key" : "SECRET-KEY-FOR-BUCKET"
}
```
