---
title: Amazon RDS for MSSQL (Beta)
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

This topic gives you reference information about the [Amazon RDS for MSSQL](https://aws.amazon.com/sql/)
(csb-aws-mssql) service. It details the plans, configuration parameters, and binding credentials.

>**Important**
>The Amazon RDS for MSSQL service is in beta and is intended for
  evaluation and test purposes only. Do not use this service in a production environment.
>Also, For secure connections to work, install the AWS certificate bundle in
  <%= vars.ops_manager %>.

## <a id="plans-config"></a> Plan Configuration Parameters

When configuring <%= vars.product_short %>, you can add additional plans.
For how to configure plans, see
[Configure Services with Cloud Service Broker for AWS](../installing-with-aws.html.md.erb#services).

The following table lists parameters that can only be configured for additional plans:

| Parameter Name         | Description                                                                         | Default | Required |
|------------------------|-------------------------------------------------------------------------------------|---------|----------|
| `name`                 | The plan name                                                                       | _n/a_   | Yes      |
| `id`                   | A unique GUID                                                                       | _n/a_   | Yes      |
| `description`          | Description of the new plan                                                         | _n/a_   | Yes      |
| `free`                 | When false, service instances of this service plan have a cost                      | true    | No       |
| `bindable`             | Specifies whether service instances of the service plan can bind to applications    | true    | No       |
| `plan_updateable`      | Whether the plan supports upgrading, downgrading, or sidegrading to another version | true    | No       |
| `metadata.displayName` | Name to use when displaying the plan in Marketplace                                 | _n/a_   | No       |
| `metadata.bullets`     | List of bullet points to display in Apps Manager                                    | _n/a_   | No       |

You can also add any of the parameters listed in the [Configuration Parameters](#parameters) section
to your plan.

>**Note**
>If you set a parameter at plan level, developers cannot change the value
  when creating or updating service instances.

## <a id="parameters"></a> Configuration Parameters

You can provision a service by running:

```console
cf create-service csb-aws-mssql PLAN-NAME SERVICE-INSTANCE-NAME -c '{"PARAMETER-NAME": "PARAMETER-VALUE"}
```

You can update the configuration parameters for a service instance by running:

```console
cf update-service SERVICE-INSTANCE-NAME -c '{"PARAMETER-NAME": "PARAMETER-VALUE"}'
```

The following table lists the parameters that you can configure, by using the `-c` flag, when
provisioning or updating a `csb-aws-mssql` service.
The Operation column displays whether a parameter is supported for both provision and update, or for
provision only:

<table class="nice">
  <thead>
    <tr>
      <th width="20%">Parameter Name</th>
      <th width="10%">Type</th>
      <th width="40%">Description</th>
      <th width="20%">Default</th>
      <th width="10%">Operation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>instance_name</code></td>
      <td>String</td>
      <td>The name of the AWS instance to create.</td>
      <td><code>csb-mssql-INSTANCE-ID</code></td>
      <td>provision</td>
    </tr>
    <tr>
      <td><code>db_name</code></td>
      <td>String</td>
      <td>The name of the database.</td>
      <td><code>vsbdb</code></td>
      <td>provision</td>
    </tr>
    <tr>
      <td><code>region</code></td>
      <td>String</td>
      <td>
        The AWS region to deploy the service in.
        For more information about available regions, see the
        <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html#concepts-available-regions">AWS documentation</a>.
      </td>
      <td><code>us-west-2</code></td>
      <td>provision</td>
    </tr>
    <tr>
      <td><code>mssql_version</code></td>
      <td>String</td>
      <td>
        (Required) The version for the MSSQL instance. It can be any version supported by the provider.
        For more information about Microsoft SQL versions on Amazon RDS, see the
        <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_SQLServer.html#SQLServer.Concepts.General.VersionSupport">AWS documentation</a>.
      </td>
      <td>None</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>engine</code></td>
      <td>String</td>
      <td>
        (Required) The edition for the MSSQL instance.
        Amazon RDS supports the following Microsoft SQL Server editions:
            <ul>
                <li>Enterprise: <code>sqlserver-ee</code></li>
                <li>Express: <code>sqlserver-ex</code></li>
                <li>Standard: <code>sqlserver-se</code></li>
                <li>Web: <code>sqlserver-web</code></li>
            </ul>
      </td>
      <td>None</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>storage_gb</code></td>
      <td>Integer</td>
      <td>
        (Required) Size of storage volume for service instance.
        Minimum admitted value: 20&nbsp;GB.
        For more information about Amazon RDS DB instance storage for MSSQL, see the
        <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Storage.html">AWS documentation</a>.
      </td>
      <td>None</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>max_allocated_storage</code></td>
      <td>Integer</td>
      <td>
        Upper limit in gibibytes to which Amazon RDS can automatically scale the storage of the DB instance.
        Must be greater than or equal to <code>storage_gb</code>. Set it to <code>null</code> or <code>0</code> to deactivate storage autoscaling.
        For more information, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_PIOPS.StorageTypes.html#USER_PIOPS.Autoscaling">Managing capacity automatically with Amazon RDS storage autoscaling</a>.
      </td>
      <td>None</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>instance_class</code></td>
      <td>String</td>
      <td>
        (Required) The database instance class determines the computation and memory capacity of an
        RDS MSSQL database instance.
        Accepted values depend on the selected <code>engine</code> and <code>mssql_version</code>.
        For information about the restrictions associated with the different types of instances that
        RDS MSSQL accepts, see the
        <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_SQLServer.html#SQLServer.Concepts.General.InstanceClasses">AWS documentation</a>.
      </td>
      <td>None</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>option_group_name</code></td>
      <td>String</td>
      <td>
        Name of the DB option group to associate.
        MSSQL offers additional features such as SQL Server Audit, Transparent Data Encryption, etc.
        Setting <code>option_group_name: ""</code> during an update is ignored. If you want to replace the current option group with the default one, you need to explicitly specify its name.
        For more information, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Appendix.SQLServer.Options.html">Amazon RDS options for the Microsoft SQL Server database engine</a> in the AWS documentation.
      </td>
      <td>None</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>parameter_group_name</code></td>
      <td>String</td>
      <td>
        Name of the custom parameter group to associate with this instance.
        If left unset, a new parameter group is created automatically with containment enabled.
        When specifying a custom parameter group, the custom parameter group must have <code>contained database authentication</code> set to <code>1</code>.
        Setting <code>parameter_group_name: ""</code> during an update is ignored. If you want to replace the current parameter group with the default one, you need to explicitly specify its name.
        For more information, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_WorkingWithParamGroups.html">Amazon RDS Working with parameter groups</a>.
      </td>
      <td>None</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>monitoring_interval</code></td>
      <td>Number</td>
      <td>
        The interval, in seconds, between points when Enhanced Monitoring metrics are collected for the database instance.
        To stop collecting Enhanced Monitoring metrics, enter 0. Valid values: 0, 1, 5, 10, 15, 30, 60.
        A <code>monitoring_role_arn</code> value is required if you enter a <code>monitoring_interval</code> value other than 0.
      </td>
      <td><code>0</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>monitoring_role_arn</code></td>
      <td>String</td>
      <td>
        Enhanced Monitoring requires permission to act on your behalf to send OS metric information to CloudWatch Logs.
        This property represents the ARN for the IAM role that permits RDS to send enhanced monitoring metrics to CloudWatch Logs.
      </td>
      <td><code>""</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>storage_type</code></td>
      <td>String</td>
      <td>
        Type of storage to be used.
        One of <code>standard</code> (magnetic), <code>gp2</code> (general purpose SSD), <code>gp3</code>
        (general purpose SSD), or <code>io1</code> (provisioned IOPS SSD).
        For more information check <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Storage.html#Concepts.Storage">Amazon RDS storage types</a>.
      </td>
      <td><code>io1</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>iops</code></td>
      <td>Integer</td>
      <td>
        The amount of provisioned IOPS.
        For this property to take effect, <code>storage_type</code> must be set to <code>gp3</code> or <code>io1</code>.
        For more information on customizing IOPS with gp3, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Storage.html#Concepts.Storage.GeneralSSD">General Purpose SSD storage</a>.
        For more information on customizing IOPS with io1, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Storage.html#USER_PIOPS">Provisioned IOPS storage</a>.
      </td>
      <td><code>3000</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>publicly_accessible</code></td>
      <td>Boolean</td>
      <td>
      If <code>true</code>, make instance available to public connections.
      Note that setting <code>publicly_accessible: true</code> is not sufficient for making the DB instance public.
      For more information, see <a href="../troubleshooting.html#publicly-accessible-unreachable">Unreachable publicly accessible database</a>.
      </td>
      <td><code>false</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>aws_vpc_id</code></td>
      <td>String</td>
      <td>The Virtual Private Cloud (VPC) to connect the instance to.</td>
      <td>The default VPC</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>rds_subnet_group</code></td>
      <td>String</td>
       <td>
       The name of the subnet to attach the database instance to.
       When set, you must also specify the corresponding <code>aws_vpc_id</code>.
       When both <code>rds_subnet_group</code> and <code>rds_vpc_security_group_ids</code>
       are provided, they must be coherent and depend on the same <code>aws_vpc_id</code>.
       </td>
      <td>None</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>rds_vpc_security_group_ids</code></td>
      <td>Comma-separated String</td>
      <td>
      Security group IDs to assign to the database instance.
      When set, you must also specify the corresponding <code>aws_vpc_id</code>.
      When both <code>rds_subnet_group</code> and <code>rds_vpc_security_group_ids</code>
      are provided, they must be coherent and depend on the same <code>aws_vpc_id</code>.
      </td>
      <td>None</td>
      <td>provision</td>
    </tr>
    <tr>
      <td><code>deletion_protection</code></td>
      <td>Boolean</td>
      <td>Whether deletion protection is enabled. The database cannot be deleted when this value is set to <code>true</code>.</td>
      <td><code>false</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>aws_access_key_id</code></td>
      <td>String</td>
      <td>The AWS Access Key to use for an instance.</td>
      <td>The value the operator entered for <strong>AWS Access Key</strong> in <%= vars.ops_manager %>.</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>aws_secret_access_key</code></td>
      <td>String</td>
      <td>The corresponding secret for the AWS Access Key to use for an instance.</td>
      <td>The value the operator entered for <strong>AWS Secret Access Key</strong> in <%= vars.ops_manager %>.</td>
      <td>provision and update</td>
    </tr>
    <tr>
        <td><code>storage_encrypted</code></td>
        <td>Boolean</td>
        <td>
        Specifies whether a database instance is encrypted. For more details on encrypting a database instance, see the <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Overview.Encryption.html#Overview.Encryption.Enabling">AWS documentation</a>.
        Do not confuse this with <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Appendix.SQLServer.Options.TDE.html">Transparent Data Encryption (TDE).</a>
        </td>
        <td><code>true</code></td>
        <td>provision</td>
    </tr>
    <tr>
        <td><code>kms_key_id</code></td>
        <td>String</td>
        <td>The Amazon Resource Name (ARN) for the user-managed KMS encryption key. When setting this value, <code>storage_encrypted</code> must be enabled. When not set, the AWS managed key is used for encrypting the database.</td>
        <td><code>""</code></td>
        <td>provision</td>
    </tr>
    <tr>
      <td><code>backup_retention_period</code></td>
      <td>Number</td>
      <td>
        The number of days for which automatic backups are kept.
        Set the value to <code>0</code> to deactivate automated backups. An outage
        occurs if you change the backup retention period from <code>0</code> to
        a nonzero value or the reverse.
        For more information, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_WorkingWithAutomatedBackups.html">Amazon RDS Working with backups</a> in the AWS documentation.
      </td>
      <td><code>7</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>backup_window</code></td>
      <td>String</td>
      <td>
        The daily time range in UTC during which automated backups are created.
        For example, <code>09:46-10:16</code>. It must not overlap with the maintenance window.
        Set to <code>null</code> to revert to default. For more information, see
        the <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_WorkingWithAutomatedBackups.html#USER_WorkingWithAutomatedBackups.BackupWindow">AWS documentation</a>.
      </td>
      <td>Uses AWS default value for the region</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>maintenance_day</code></td>
      <td>String</td>
      <td>
        The preferred maintenance day: <code>Sun</code>, <code>Mon</code>, <code>Tue</code>, <code>Wed</code>, <code>Thu</code>, <code>Fri</code>, or <code>Sat</code>.
        It can only be updated to a non-null value.
      </td>
      <td>Uses AWS default value for the region if all <code>maintenance_*</code> properties are null when creating the instance</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>maintenance_start_hour</code></td>
      <td>String</td>
      <td>
        The preferred maintenance start hour. Valid values are <code>00</code> through <code>23</code>.
        It can only be updated to a non-null value.
      </td>
      <td>Uses AWS default value for the region if all <code>maintenance_*</code> properties are null when creating the instance</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>maintenance_start_min</code></td>
      <td>String</td>
      <td>
        The preferred maintenance start minute. Valid values are <code>00</code>, <code>15</code>, <code>30</code>, <code>45</code>.
        It can only be updated to a non-null value.
      </td>
      <td>Uses AWS default value for the region if all <code>maintenance_*</code> properties are null when creating the instance</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>maintenance_end_hour</code></td>
      <td>String</td>
      <td>
        The preferred maintenance end hour. Valid values are <code>00</code> through <code>23</code>.
        It can only be updated to a non-null value.
      </td>
      <td>Uses AWS default value for the region if all <code>maintenance_*</code> properties are null when creating the instance</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>maintenance_end_min</code></td>
      <td>String</td>
      <td>
        The preferred maintenance end minute. Valid values are <code>00</code>, <code>15</code>, <code>30</code>, <code>45</code>.
        It can only be updated to a non-null value.
      </td>
      <td>Uses AWS default value for the region if all <code>maintenance_*</code> properties are null when creating the instance</td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>delete_automated_backups</code></td>
      <td>Boolean</td>
      <td>Specifies whether to remove automated backups immediately after the database instance is deleted</td>
      <td><code>true</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>copy_tags_to_snapshot</code></td>
      <td>Boolean</td>
      <td>Copy all instance tags to snapshots</td>
      <td><code>true</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>allow_major_version_upgrade</code></td>
      <td>Boolean</td>
      <td>
        Indicates that major version upgrades are allowed.
        Changing this parameter does not result in an outage, and the change is
        asynchronously applied as soon as possible.
      </td>
      <td><code>true</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>auto_minor_version_upgrade</code></td>
      <td>Boolean</td>
      <td>
        Indicates that minor engine upgrades are applied automatically
        to the database instance during the maintenance window.
        If <code>auto_minor_version_upgrade</code> is enabled, you must specify a major engine version.
        AWS command to see the available engine versions for MSSQL Standard Edition:
        <code>aws rds describe-db-engine-versions  --engine sqlserver-se --include-all --region us-west-2</code>
        See the <code>engine</code> property for available engines.
      </td>
      <td><code>true</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>performance_insights_enabled</code></td>
      <td>Boolean</td>
      <td>
        Specifies whether Performance Insights are enabled.
        Performance Insights expand on existing Amazon RDS monitoring features to illustrate your
        database performance and help you analyze it.
        From the Performance Insights dashboard you can visualize the database load on your
        Amazon RDS database instance load and filter the load by wait types,
        SQL statements, hosts, or users.
      </td>
      <td><code>false</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>performance_insights_kms_key_id</code></td>
      <td>String</td>
      <td>
        The ARN for the KMS key to encrypt Performance Insights data.
        When specifying <code>performance_insights_kms_key_id</code>, set <code>performance_insights_enabled</code> as <code>true</code>.
        After the KMS key is set, it can never be changed.
      </td>
      <td><code>""</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>performance_insights_retention_period</code></td>
      <td>Integer</td>
      <td>
        The number of days for which to retain Performance Insights data.<br><br>
        The value must be <code>7</code>, <code>NUMBER-OF-MONTHS</code> * 31 (where <code>NUMBER-OF-MONTHS</code> is <code>1</code>-<code>23</code>), or <code>731</code>.<br>
        For example, the following values are valid: <code>93</code> (because it's 3 months * 31),
        <code>341</code> (because it's 11 months * 31), <code>589</code> (because it's 19 months * 31),
        and <code>731</code>.<br><br>
        If you specify an invalid retention period, such as <code>94</code>, RDS issues an error.
      </td>
      <td><code>7</code></td>
      <td>provision and update</td>
    </tr>
  </tbody>
</table>

## <a id="binding"></a> Binding

You can bind a service by running:

```console
cf bind-service APP-NAME SERVICE-INSTANCE-NAME --binding-name BINDING-NAME
```

## <a id="binding-creds"></a> Binding Credentials

The format for binding credentials for MSSQL is as follows:

```json
{
    "name" : "DATABASE-NAME",
    "hostname" : "DATABASE-SERVER-HOST",
    "port" : "DATABASE-SERVER-PORT",
    "username" : "AUTHENTICATION-USERNAME",
    "password" : "AUTHENTICATION-PASSWORD",
    "uri" : "DATABASE-CONNECTION-URI",
    "jdbcUrl" : "JDBC-FORMAT-CONNECTION-URL"
}
```
