---
title: Amazon S3 bucket
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

This topic gives you reference information about the [Amazon S3](https://aws.amazon.com/s3/)
(csb-aws-s3-bucket) service.
It details the plans, configuration parameters, and binding credentials.

<p class="note">
<span class="note__title">Note</span>
  Release v1.2.0 removed brokerpak pre-configured plans for the Amazon S3 bucket.
  All plans must be configured through the tile.
  If you have instances of the S3 bucket that were created in previous versions and that you want to
  maintain, see <a href="#old-plans">Previously Provided Pre-configured Plans</a> later in this topic.
  For more information on upgrade steps, see <a href="../upgrading.html.md.erb">Upgrading</a>.
</p>

## <a id="plans-config"></a> Plan configuration parameters

When configuring <%= vars.product_short %> you can add additional plans.
For how to configure plans, see
[Configure Services with Cloud Service Broker for AWS](../installing-with-aws.html.md.erb#services).

The following table lists parameters which can only be configured for additional plans:

| Parameter name    | Values                                                                              | Default | Required |
|-------------------|-------------------------------------------------------------------------------------|---------|----------|
| `name`            | The plan name.                                                                       | _n/a_   | Yes      |
| `id`              | A unique GUID.                                                                       | _n/a_   | Yes      |
| `description`     | Description of the new plan.                                                         | _n/a_   | Yes      |
| `display_name`    | Name to use when displaying plan in Marketplace.                                     | _n/a_   | No       |
| `free`            | When false, service instances of this service plan have a cost.                      | true    | No       |
| `bindable`        | Specifies whether service instances of the service plan can bind to applications.    | true    | No       |
| `plan_updateable` | Whether the plan supports upgrading, downgrading, or sidegrading to another version. | true    | No       |

You can also add any of the parameters listed in the [Configuration parameters](#parameters) section
to your plan.

>**Note**
>If you set a parameter at plan level, developers
  cannot change the value when creating or updating service instances.

## <a id="parameters"></a> Configuration parameters

You can provision a service by running:

```console
cf create-service csb-aws-s3-bucket PLAN-NAME SERVICE-INSTANCE-NAME -c '{"PARAMETER-NAME": "PARAMETER-VALUE"}
```

You can update the configuration parameters for a service instance by running:

```console
cf update-service SERVICE-INSTANCE-NAME -c '{"PARAMETER-NAME": "PARAMETER-VALUE"}'
```

The following table lists the parameters that you can configure, by using the `-c` flag, when
provisioning or updating a `csb-aws-s3-bucket` service.
The Operation column displays whether a parameter is supported for both provision and update, or for
provision only:

<table class="nice">
  <thead>
    <tr>
      <th width="20%">Parameter name</th>
      <th width="10%">Type</th>
      <th width="40%">Description</th>
      <th width="20%">Default</th>
      <th width="10%">Operation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>bucket_name</code></td>
      <td>String</td>
      <td>The name of the bucket to create</td>
      <td><code>csb-INSTANCE-ID</code></td>
      <td>provision</td>
    </tr>
    <tr>
      <td><code>acl</code></td>
      <td>String</td>
      <td>
        S3 bucket access control list (ACL).
        For more information, see the <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/acl-overview.html#canned-acl">AWS documentation</a>.
        ACLs are automatically deactivated if <a href="#boc-object-ownership">boc_object_ownership</a>
        is set to <code>BucketOwnerEnforced</code>.
        Permitted values: <code>null</code>, <code>private</code>, <code>public-read</code>, <code>public-read-write</code>, <code>aws-exec-read</code>,
          <code>authenticated-read</code>, <code>bucket-owner-read</code>, <code>bucket-owner-full-control</code>, and <code>log-delivery-write</code>
      </td>
      <td><code>null</code></td>
      <td>provision</td>
    </tr>
    <tr>
      <td><code>enable_versioning</code></td>
      <td>Boolean</td>
      <td>
        Activate bucket versioning.
        Versioning is automatically active if <a href="#object-lock">Amazon S3 Object Lock</a>
        is activated.
      </td>
      <td><code>false</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>region</code></td>
      <td>String</td>
      <td>
        This is the AWS region to deploy the service in.
        For more information about available regions, see the
        <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html#concepts-available-regions">AWS documentation</a>.</td>
      <td><code>us-west-2</code></td>
      <td>provision</td>
    </tr>
    <tr>
      <td><a id="boc-object-ownership"></a><code>boc_object_ownership</code></td>
      <td>String</td>
      <td>
        S3 Bucket Ownership Controls.
        Permitted values: <code>BucketOwnerPreferred</code>, <code>ObjectWriter</code>, and <code>BucketOwnerEnforced</code>.
        Setting this property to <code>BucketOwnerEnforced</code> deactivates ACLs.
        For more information, see the <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/about-object-ownership.html">AWS documentation</a>.
      </td>
      <td><code>BucketOwnerEnforced</code></td>
      <td>provision</td>
    </tr>
    <tr>
      <td><code>sse_default_algorithm</code></td>
      <td>String</td>
      <td>
        The server-side encryption algorithm to use to automatically encrypt new objects stored in this bucket.
        Valid values are <code>AES256</code> to use Amazon S3-managed keys (SSE-S3) and <code>aws:kms</code> to use an AWS Key Management Service key (SSE-KMS).
        For more information about server-side encryption, see the <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/serv-side-encryption.html">AWS documentation</a>.
      </td>
      <td><code>null</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>sse_default_kms_key_id</code></td>
      <td>String</td>
      <td>
        The AWS Key Management Service (KMS) key ID used for the
        Amazon S3 server-side encryption, which uses AWS Key Management Service (SSE-KMS).
        To use this parameter, set the value of <code>sse_default_algorithm</code> to <code>aws:kms</code>.
      </td>
      <td><code>null</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>sse_bucket_key_enabled</code></td>
      <td>Boolean</td>
      <td>
        Sets whether to use Amazon S3 Bucket Keys for SSE-KMS.
        For more information about Bucket Keys, see the <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/bucket-key.html">AWS documentation</a>.
      </td>
      <td><code>false</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>pab_block_public_acls</code></td>
      <td>Boolean</td>
      <td>
        Sets whether Amazon S3 blocks public ACLs for the bucket.
        For more information, see the
        <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/access-control-block-public-access.html">AWS documentation</a>.
      </td>
      <td><code>false</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>pab_block_public_policy</code></td>
      <td>Boolean</td>
      <td>
        Sets whether Amazon S3 blocks public bucket policies for the bucket.
        For more information, see the
        <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/access-control-block-public-access.html">AWS documentation</a>.
      </td>
      <td><code>false</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>pab_ignore_public_acls</code></td>
      <td>Boolean</td>
      <td>
        Sets whether Amazon S3 ignores public ACLs for the bucket.
        For more information, see the
        <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/access-control-block-public-access.html">AWS documentation</a>.
      </td>
      <td><code>false</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>pab_restrict_public_buckets</code></td>
      <td>Boolean</td>
      <td>
        Sets whether Amazon S3 restricts public bucket policies for the bucket.
        For more information, see the
        <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/access-control-block-public-access.html">AWS documentation</a>.
      </td>
      <td><code>false</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><a id="object-lock"></a><code>ol_enabled</code></td>
      <td>Boolean</td>
      <td>
        Sets whether to activate Amazon S3 Object Lock.
        This stores objects using a write-once-read-many (WORM) model.
        For more information about Object Lock, see the
        <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-lock.html">AWS documentation</a>.
      </td>
      <td><code>false</code></td>
      <td>provision</td>
    </tr>
    <tr>
      <td><code>ol_configuration_default_retention_enabled</code></td>
      <td>Boolean</td>
      <td>
        Sets whether the bucket has an active Object Lock <code>configuration</code>.
        To activate Object Lock for a new bucket, see the <a href="#object-lock"><code>ol_enabled</code></a> parameter.
        For more information about Object Lock, see the
        <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-lock.html">AWS documentation</a>.
      </td>
      <td><code>null</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>ol_configuration_default_retention_mode</code></td>
      <td>String</td>
      <td>
        The default retention mode for objects placed in the bucket.
        If you set this parameter, you must also set the <code>ol_configuration_default_retention_days</code> or
        <code>ol_configuration_default_retention_years</code> parameter.
        To activate Object Lock for a new bucket, see the <a href="#object-lock"><code>ol_enabled</code></a> parameter.
        For more information about Object Lock, see the
        <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-lock.html">AWS documentation</a>.
      </td>
      <td><code>null</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>ol_configuration_default_retention_days</code></td>
      <td>Number</td>
      <td>
        The default fixed number of days of retention for objects placed in the bucket.
        This property is only required if you have set <code>ol_configuration_default_retention_mode</code>,
        but have not set <code>ol_configuration_default_retention_years</code>.
        To activate Object Lock for a new bucket, see the <a href="#object-lock"><code>ol_enabled</code></a> parameter.
        For more information about Object Lock, see the
        <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-lock.html">AWS documentation</a>.
      </td>
      <td><code>null</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>ol_configuration_default_retention_years</code></td>
      <td>Number</td>
      <td>
        The default fixed number of years of retention for objects placed in the bucket.
        This property is only required if you have set <code>ol_configuration_default_retention_mode</code>,
        but have not set <code>ol_configuration_default_retention_days</code>.
        To activate Object Lock for a new bucket, see the <a href="#object-lock"><code>ol_enabled</code></a> parameter.
        For more information about Object Lock, see the
        <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-lock.html">AWS documentation</a>.
      </td>
      <td><code>null</code></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>aws_access_key_id</code></td>
      <td>String</td>
      <td>The AWS Access Key to use for an instance.</td>
      <td>The value the operator entered for <strong>AWS Access Key</strong> in <%= vars.ops_manager %></td>
      <td>provision and update</td>
    </tr>
    <tr>
      <td><code>aws_secret_access_key</code></td>
      <td>String</td>
      <td>The corresponding secret for the AWS Access Key to use for an instance.</td>
      <td>The value the operator entered for <strong>AWS Secret Access Key</strong> in <%= vars.ops_manager %></td>
      <td>provision and update</td>
    </tr>
  </tbody>
</table>

When using S3 Object Lock, take your encryption technique into consideration.
For example, if you are using server-side encryption with AWS KMS keys, consider how the possible
deletion of the key might interact with S3 Object Lock.

When creating a bucket with Object Lock activated, Amazon S3 automatically activates versioning for the
bucket. To avoid differences between the local state and the AWS state, <%= vars.product_short %>
activates versioning when enabling Object Lock.

## <a id="binding-params"></a> Binding parameters

You can bind a service by running:

```console
cf bind-service APP-NAME SERVICE-INSTANCE-NAME --binding-name BINDING-NAME -c '{"PARAMETER-NAME": "PARAMETER-VALUE"}'
```

The following table lists the parameters that you can configure, using the `-c` flag, when binding
to a `csb-aws-s3-bucket` service:

<table>
  <thead>
    <tr>
      <th width="20%">Parameter Name</th>
      <th width="10%">Type</th>
      <th width="40%">Description</th>
      <th width="20%">Default</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>aws_access_key_id</code></td>
      <td>String</td>
      <td>The AWS Access Key to use for an instance</td>
      <td>The value the operator entered for <strong>AWS Access Key</strong> in <%= vars.ops_manager %></td>
    </tr>
    <tr>
      <td><code>aws_secret_access_key</code></td>
      <td>String</td>
      <td>The corresponding secret for the AWS Access Key to use for an instance</td>
      <td>The value the operator entered for <strong>AWS Secret Access Key</strong> in <%= vars.ops_manager %></td>
    </tr>
  </tbody>
</table>

## <a id="binding-creds"></a> Binding credentials

The format for binding credentials for Amazon S3 Bucket is as follows:

```json
{
    "arn" : "BUCKET-ARN",
    "bucket_domain_name" : "BUCKET-FQDN",
    "region" : "BUCKET-REGION",
    "bucket_name" : "BUCKET-NAME",
    "access_key_id" : "ACCESS-KEY-FOR-BUCKET",
    "secret_access_key" : "SECRET-KEY-FOR-BUCKET"
}
```

## <a id="old-plans"></a> Previously provided pre-configured plans

The following table lists the previously provided plans for the `csb-aws-s3-bucket` service:

| Plan       | Description |
|------------|------|
| private       | Private S3 bucket|
| public-read      | Publicly readable S3 bucket|

To keep these plans in this version of the broker, add them through the tile as custom plans.
For how to configure plans through the tile, see
[Configure Services with <%= vars.product_short %>](../installing-with-aws.html.md.erb#services).

Add the following block to keep the `private` plan:

```json
{
    "name": "private",
    "id": "8938b4c0-d67f-4c34-9f68-a66deef99b4e",
    "description": "Private S3 bucket",
    "display_name": "Private",
    "acl": "private",
    "boc_object_ownership": "ObjectWriter"
}
```

Add the following block to keep the `public-read` plan:

```json
  {
      "name": "public-read",
      "id": "04317eaa-11ac-4c5f-b77f-eb005fe977fe",
      "description": "Public-read S3 bucket",
      "display_name": "Public Read",
      "acl": "public-read",
      "boc_object_ownership": "ObjectWriter"
  }
```
